@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.area-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area-wrapper #area {
  width: 500px;
  height: 500px;
  background-color: #00bbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.area-wrapper #area .box {
  width: 166.66px;
  height: 166.66px;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.area-wrapper #area .box:hover {
  background-color: #009bd3;
}

#modal-result-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#modal-result-wrapper #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

#modal-result-wrapper #modal-window {
  width: 500px;
  color: #fff;
  height: 500px;
  border: 1px solid black;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-result-wrapper #modal-window #content {
  font-size: 3em;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #000;
  font-weight: 600;
}

#modal-result-wrapper #modal-window #btn-close {
  width: 100%;
  background-color: #00bbff;
  outline: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  bottom: 15px;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

#modal-result-wrapper #modal-window #btn-close:hover {
  background-color: #0091c5;
}
